body {
  background: #ffffff;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
nav {
  background: transparent;
  height: 400px;
}
#burgertron {
  background-image:url("./burger.jpeg");
  background-size: cover;
  background-position: center;
  border: solid .25px black;
  height: 400px;
}
.social {
margin: 10px;
}

#ordernow {
  font-family: 'Cutive Mono', monospace;
  font-size: 50px;
  text-align: center;
  color: #000000;
}

#orderpanel {
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: lightgrey;
}
#orderbutton {
  background-color: black;
}
.brand-logo {
  margin: 10px;
}




.page-footer {
  background-color: #000000;
  bottom: 0;
}
