body {
  background: #ffffff;
}
nav {
  background: transparent;
  height: 400px;
}
#burgertron {
  background-image:url("./burger.jpeg");
  background-size: cover;
  background-position: center;
  border: solid .25px black;
  height: 400px;
}
.social {
margin: 10px;
}

#ordernow {
  font-family: 'Cutive Mono', monospace;
  font-size: 50px;
  text-align: center;
  color: #000000;
}

#orderpanel {
  margin-top: 35px;

  background-color: lightgrey;
}
#orderbutton {
  background-color: black;
}
.brand-logo {
  margin: 10px;
}



/* MAKE FOOTER STICK TO THE BOTTOM*/
.page-footer {
  background-color: #000000;
}
/*html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}*/
/* MAKE FOOTER STICK TO THE BOTTOM*/
