body {
  background: #ffffff;
  background-image:url("./burger.jpeg");
  background-size: cover;
  background-position: center;
}
nav {
  background: transparent;
  height: 175px;
}
.social {
margin: 10px;
height: 35px;
width: 35px;
}

#homeheader {

  margin-top: 25px;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  -webkit-text-stroke-width: .5px;
-webkit-text-stroke-color: #000000;
}
#ordernow {
  font-family: 'Cutive Mono', monospace;
  font-size: 50px;
  text-align: center;
  color: #000000;
}
#orderbutton {
  background-color: #b02b23;
  border: 3px solid #000000;
}
.brand-logo {
  margin: 10px;
}
/* MAKE FOOTER STICK TO THE BOTTOM*/
.page-footer {
  background-color: #000000;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    overflow: auto;
}
/* MAKE FOOTER STICK TO THE BOTTOM*/
